In [1]:
import pandas as pd
import numpy as np

In [2]:
import random
from collections import deque
import tensorflow as tf
from tensorflow import keras

In [3]:
movie = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')

In [4]:
movie['genres_split'] = movie['genres'].str.split('|')
genres_dummies = movie['genres_split'].explode().str.get_dummies().groupby(level=0).sum()
movie = movie[['movieId', 'title']].join(genres_dummies)

In [5]:
rating.drop(columns=['timestamp'], inplace=True)
movie = movie.drop(columns=['(no genres listed)'])

In [6]:
movie_1 = movie

In [7]:
movie_v1 = movie_1.drop(columns=['title'])

In [8]:
movie_v1

,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62418,209157,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
62419,209159,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
62420,209163,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
62421,209169,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
62422,209171,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [9]:
data_all = movie_v1.merge(rating, on='movieId')

In [10]:
user1 = data_all[data_all['userId'] == 1]
user1.shape

(70, 22)

In [11]:
user1.nunique()

movieId        70
Action          2
Adventure       2
Animation       2
Children        2
Comedy          2
Crime           2
Documentary     2
Drama           2
Fantasy         2
Film-Noir       2
Horror          2
IMAX            1
Musical         2
Mystery         2
Romance         2
Sci-Fi          2
Thriller        2
War             2
Western         2
userId          1
rating          9
dtype: int64

### Env

In [12]:
class DQL_model:
    def __init__(self, state_size, action_size, epsilon= 0.6,gamma= 0.95 ,epsilon_min=0.01, epsilon_decay=0.995, learning_rate=0.001, batch_size=20):
        self.state_size = state_size
        self.action_size = action_size
        self.epsilon = epsilon
        self.gamma = gamma
        self.epsilon_min = epsilon_min
        self.epsilon_decay = epsilon_decay
        self.learning_rate = learning_rate
        self.batch_size = batch_size
        
        self.memory = deque(maxlen=2000)
        
        self.model = self.build_model()
        
    def build_model(self):
        model = keras.Sequential()
        model.add(keras.layers.Dense(64, input_dim= self.state_size, activation= 'relu'))
        model.add(keras.layers.Dense(32, activation= 'relu'))
        model.add(keras.layers.Dense(self.action_size, activation= 'linear'))
        
        model.compile(loss='mse', optimizer=keras.optimizers.Adam(learning_rate= self.learning_rate))
        
        return model   
    
    def remember(self, state, action, reward, next_state):
        self.memory.append((state, action, reward, next_state))
    
    def act(self, state):
        if np.random.rand() <= self.epsilon:
            return random.sample(range(self.action_size), 1)[0]
        state = state.astype(np.float32)
        act_values = self.model.predict(np.reshape(state, [1,self.state_size]))
        return np.argsort(act_values[0])[-1]
    
    def train(self):
        if len(self.memory) < self.batch_size:
            return
        minibatch = random.sample(self.memory, self.batch_size)
        
        for state, action, reward, next_state in minibatch:
            
            target = reward + self.gamma*np.amax(self.model.predict(np.reshape(next_state, [1,self.state_size]))[0])
            
            target_f = self.model.predict(np.reshape(next_state, [1,self.state_size])) 
            
            target_f[0][action] = target
            self.model.fit(np.reshape(state, [1,self.state_size]), target_f, epochs=1, verbose=0)
            
            print(target)           
        if self.epsilon > self.epsilon_min:
            self.epsilon *= self.epsilon_decay

In [13]:
class Env:
    def __init__(self,data_movie, data, user_id, dqn_model):
        self.data = data
        self.user_id = user_id
        self.data_movie = data_movie
        self.dqn_model = dqn_model
        
        self.user_data = self.data[self.data['userId'] == self.user_id]
        self.user_data.drop(columns=['userId'], inplace=True)
        
        self.genres = self.user_data.columns[1:-1]
        self.user_data.drop(columns=['movieId'], inplace=True)
        
        self.storage = self.user_data[self.genres]
        self.memory = None
        self.movie_suggestions = None
        
        self.skip_count = 0
        self.max_skip = 10
        
        self.get_memory_from_user_data()
        self.reset()
        
    def reset(self): 
        self.movie_suggestions = self.data_movie.sample(10)
        self.skip_count = 0
        return self.movie_suggestions

    
    def suggest_next_movie(self):
        if self.movie_suggestions is not None:
            self.reset()
        self.movie_suggestions = None
        for _ in range(5):
            current_state = self.memory[self.genres].values.astype(np.float32)
            
            suggested_genres_index = self.dqn_model.act(current_state)
            
            filtered_movie = self.data_movie[self.data_movie[self.genres[suggested_genres_index]] == 1]
        
            if not filtered_movie.empty:
                print(f"Genre: {suggested_genres_index}")
                self.movie_suggestions = pd.concat([self.movie_suggestions, filtered_movie.sample(1)])
            else:
                print("No movie found")
                self.movie_suggestions = pd.concat([self.movie_suggestions, self.data_movie.sample(1)])
        
        self.movie_suggestions = pd.concat([self.movie_suggestions, self.data_movie.sample(5)])
        
        return self.movie_suggestions
        
    
    def storage_data(self):
        if self.memory is not None:
            new_row = pd.DataFrame([self.memory[self.genres].values], columns=self.genres)
            self.storage = pd.concat([self.storage, new_row], ignore_index=True)
        return self.storage
    
    def reward_movie(self, rating):
        reward = rating
        
        if reward == 0:
            reward = 0.1
            
        elif reward < 3:
            reward = - (1 - reward/5)
        else:
            reward = reward/5
            
        return reward
    
    def rating_movie(self, rating= None):
        if rating is not None and self.memory is not None:
            
            self.memory = self.memory[self.genres]
            
            state = self.memory.values.astype(np.float32)
            
            action = self.dqn_model.act(state)
            
            reward = self.reward_movie(rating)
            
            next_state = state
            
            self.dqn_model.remember(state, action, reward, next_state)
            
            self.dqn_model.train()
            
            return self.memory
    
    def step(self, index = None):
        if index is not None and self.movie_suggestions is not None:
            self.selected_movie = self.movie_suggestions.iloc[index]
            
            self.memory = self.selected_movie
            return self.selected_movie
        else:
            self.skip_count += 1
            if self.skip_count == self.max_skip:
                self.reset()
            
        
    def get_memory_from_user_data(self):
        for _, row in self.user_data.iterrows():
            state = row[self.genres].values
            
            action = [index for index, value in enumerate(state) if value == 1]
            
            if action:
                action = random.choice(action)
            
            rating = row['rating']
            
            reward = self.reward_movie(rating)
            
            random_index = np.random.randint(0, len(self.user_data))
            next_state = self.user_data.iloc[random_index][self.genres].values
            
            self.dqn_model.remember(state, action, reward, next_state)
            
        self.dqn_model.train()

In [14]:
state_size=19
action_size=19
dql = DQL_model(state_size, action_size)
env = Env(movie,data_all, user_id= 1, dqn_model= dql)

c:\Users\DELL\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
C:\Users\DELL\AppData\Local\Temp\ipykernel_30276\2602606595.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_data.drop(columns=['userId'], inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_30276\2602606595.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.user_data.drop(columns=['movieId'], inplace=True)

Rating: 5.0
Rating: 3.5
Rating: 5.0
Rating: 5.0
Rating: 3.5
Rating: 4.0
Rating: 3.5
Rating: 3.5
Rating: 5.0
Rating: 4.0
Rating: 3.5
Rating: 4.0
Rating: 2.5
Rating: 2.5
Rating: 2.5
Rating: 3.5
Rating: 4.5
Rating: 4.0
Rating: 5.0
Rating: 5.0
Rating: 4.5
Rating: 4.0
Rating: 5.0
Rating: 5.0
Rating: 5.0
Rating: 3.0
Rating: 5.0
Rating: 3.0
Rating: 4.0
Rating: 4.5
Rating: 4.0
Rating: 1.0
Rating: 2.0
Rating: 5.0
Rating: 4.0
Rating: 3.0
Rating: 4.0
Rating: 5.0
Rating: 4.5
Rating: 4.0
Rating: 3.5
Rating: 5.0
Rating: 3.5
Rating: 4.0
Rating: 4.5
Rating: 2.0
Rating: 3.5
Rating: 3.5
Rating: 5.0
Rating: 4.0
Rating: 2.5
Rating: 3.0
Rating: 2.5
Rating: 2.5
Rating: 4.5
Rating: 3.5
Rating: 5.0
Rating: 5.0
Rating: 4.0
Rating: 3.5
Rating: 1.0
Rating: 3.5
Rating: 4.0
Rating: 3.0
Rating: 4.0
Rating: 3.0
Rating: 4.5
Rating: 3.0
Rating: 3.5
Rating: 5.0
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
1.2214454218745232
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
1.2025545127689838
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
0.9296514034271239
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
0.7936397273093462
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 46ms/step
1.0850917845964432
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1.2034701861441135
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1.0634720176458359
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1.1525175012648106
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1.0679223716259003
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
0.9411741591989995
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
0.9857861414551735
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1.3231456130743027
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
-0.28987154737114906
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
0.9694297127425671
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
0.9532157510519028
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
0.9872154846787452
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1.222146276384592
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1.0212027437984943
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
1.1639843836426735
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
1.2234080381691457

In [15]:
env.step(1)

movieId                      154376
title          Der Kronzeuge (2007)
Action                            0
Adventure                         0
Animation                         0
Children                          0
Comedy                            0
Crime                             0
Documentary                       0
Drama                             0
Fantasy                           0
Film-Noir                         0
Horror                            0
IMAX                              0
Musical                           0
Mystery                           0
Romance                           0
Sci-Fi                            0
Thriller                          0
War                               0
Western                           0
Name: 38231, dtype: object

In [16]:
title = movie[movie['movieId'] == env.selected_movie['movieId']]
title

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
38231,154376,Der Kronzeuge (2007),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
env.rating_movie(rating=2)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
0.8655488595366477
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1.0658849962055683
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
0.9670091181993485
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
-0.3186117485165596
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
0.8787614017724991
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
1.0015569046139716
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
1.0092278271913528
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
1.192068450152874
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1.195494920760393
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1.1958021372556686
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
0.9043194532394409
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
1.0052201494574546
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
-0.2755590759217739
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
0.9969850912690164
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1.2334230564534665
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1.022597601264715
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1.2180895194411279
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
0.8728945329785347
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
1.126317286491394
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1.239090409874916

Action         0
Adventure      0
Animation      0
Children       0
Comedy         0
Crime          0
Documentary    0
Drama          0
Fantasy        0
Film-Noir      0
Horror         0
IMAX           0
Musical        0
Mystery        0
Romance        0
Sci-Fi         0
Thriller       0
War            0
Western        0
Name: 38231, dtype: object

In [18]:
env.memory.values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=object)

In [19]:
env.storage_data()
env.storage

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0
67,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0
68,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
69,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
env.suggest_next_movie()

Genre: 9
Genre: 2
Genre: 12
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Genre: 7
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Genre: 7

,movieId,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
8450,25921,"Dark Mirror, The (1946)",0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
52170,184719,Achoo (2017),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18098,94573,"Last Play at Shea, The (2010)",0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
25923,124809,The Man in the Net (1959),0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
32156,140307,A Town Has Turned to Dust (1958),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24067,120480,"No Retreat, No Surrender 2: Raging Thunder (1987)",1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54090,188797,Tag (2018),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14464,76051,Delhi-6 (2009),0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
35473,147911,The Smile Man (2013),0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62087,207828,Birthday Wonderland (2019),0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0